name: product-catalog-ci

on:
    pull_request:
        branches:
        - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
         - name: checkout code
           uses: actions/checkout@v4

         - name: Set up Go 1.22
           uses: actions/setup-go@v4
           with:
             go-version: 1.22

         - name: Build
           run: |
            cd src/product-catalog
            go mod download
            go build -o product-catalog-service main.go

         - name: Run tests
           run: |
            cd src/product-catalog
            go test ./...

    code-quality:
        runs-on: ubuntu-latest

        steps:
         - name: checkout code
           uses: actions/checkout@v4


         - name: Install golangci-lint
           run: |
             curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.59.2

         - name: Run golangci-lint
           run: golangci-lint run ./src/product-catalog/...
         
    docker:
        runs-on: ubuntu-latest
        needs: build

        steps:
         - name: checkout code
           uses: actions/checkout@v4

         - name: Install Docker Buildx
           uses: docker/setup-buildx-action@v2

         - name: Log in to Docker Hub
           uses: docker/login-action@v2
           with:
             username: ${{ secrets.DOCKER_USERNAME }}
             password: ${{ secrets.personal-token }}

         - name: Push Docker image
           uses: docker/build-push-action@v4
           with:
             context: src/product-catalog
             file: Dockerfile
             push: true
             tags: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{github.run_id}}

        
    update-k8s-manifest:
        runs-on: ubuntu-latest
        needs: docker

        steps:
         - name: checkout code
           uses: actions/checkout@v4
           with:
            token: ${{ secrets.personal-token }}

         - name: Update k8s manifest with new image tag
           run: |
             sed -i 's/image: .*/image:${{ secrets.DOCKER_USERNAME }}product-catalog:${{github.run_id }}/' kubernetes/productcatalog/deploy.yaml

         - name: Commit and push changes
           run: |
             git config --global user.name 'shubhanshu-learner'
             git config --global user.email 'shubhanshuj@icloud.com'
             git add kubernetes/productcatalog/deploy.yaml
             git commit -m "Update product-catalog image tag to ${{github.run_id}}
             git push origin main


